@charset "UTF-8";
.slick-list, .slick-track {
  min-width: 100%;
}

*::-webkit-input-placeholder {
  color: #afafaf;
  opacity: 1;
}

*:-moz-placeholder {
  color: #afafaf;
  opacity: 1;
}

*::-moz-placeholder {
  color: #afafaf;
  opacity: 1;
}

*:-ms-input-placeholder {
  color: #afafaf;
  opacity: 1;
}

.forms input, .forms textarea {
  -webkit-appearance: none;
}

.forms input:ms-expand, .forms textarea:ms-expand {
  display: none;
}

html {
  font-size: 100%;
}

input, a, button, textarea, select {
  outline: none;
}

*, *:after, *:before {
  box-sizing: border-box;
}

[v-cloak] {
  display: none;
}

select {
  -webkit-appearance: none;
  /* for FF */
  -moz-appearance: none;
  text-indent: 0.01px;
  text-overflow: '';
  /* for IE */
  -ms-appearance: none;
  appearance: none !important;
}

select::-ms-expand {
  display: none;
}

address {
  font-weight: 300;
}

body {
  min-width: 320px;
  line-height: 1.2;
  font-family: "FS Elliot Pro", sans-serif;
  font-weight: 300;
  font-size: 0.875rem;
  color: #000;
  overflow-x: hidden;
  letter-spacing: 0.01rem;
}

a {
  color: #7b5c6b;
  text-decoration: underline;
  font-weight: 300;
}

a[href^="tel"], a[href^="mail"] {
  white-space: nowrap;
}

#content {
  background: #fff;
  margin: 0 auto;
  width: 100%;
  z-index: 40;
}

.wrapper {
  max-width: 1400px;
  padding: 0 2rem;
  margin: 0 auto;
  box-sizing: content-box;
}

input[type="submit"], button {
  cursor: pointer;
}

img {
  max-width: 100%;
}

li {
  list-style: none;
}

#page-wr {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  z-index: 40;
  transition: .5s;
}

.footer {
  margin-top: auto;
  z-index: 40;
}

.soc {
  display: flex;
}

.soc__link {
  display: flex;
  height: 40px;
  width: 40px;
  background-position: center;
  background-repeat: no-repeat;
}

.soc__link:not(:last-child) {
  margin-right: 11px;
}

.msgs {
  display: flex;
  align-items: center;
}

.msgs .soc__link {
  background-color: transparent;
}

.btn {
  position: relative;
  color: #fff;
  text-decoration: none;
  display: flex;
  align-items: center;
  border: none;
  cursor: pointer;
}

.btn--rectangle {
  border-radius: 0;
}

.image {
  margin-bottom: 50px;
}

.image--right {
  float: right;
  margin-left: 40px;
}

.image--left {
  float: left;
  margin-right: 40px;
}

.image--figcaption {
  padding: 30px 20px;
  background: #f7f6f7;
  text-align: center;
  margin-top: 30px;
}

.text-page > *:not(:first-child) {
  margin-top: 22px;
}

.text-page h1 {
  font-size: 2.5rem;
  font-weight: 300;
}

.text-page h2 {
  font-size: 1.375rem;
  line-height: 1.75rem;
}

.text-page h3 {
  font-size: 1.25rem;
  line-height: 1.625rem;
}

.text-page h4, .text-page h5 {
  line-height: 1.5rem;
}

.text-page h4 {
  font-size: 1.125rem;
}

.text-page h5 {
  font-size: 1rem;
}

.text-page img[align="right"] {
  float: right;
  margin-left: 20px;
}

.text-page img[align="left"] {
  float: left;
  margin-right: 20px;
}

.text-page blockquote {
  border-left: 2px solid #7b5c6b;
  padding-left: 21px;
}

.text-page table {
  width: 100%;
  table-layout: fixed;
  color: #000;
}

.text-page table td, .text-page table th {
  padding: 15px 23px;
  font-weight: 300;
  vertical-align: middle;
}

.text-page table[border="1"] td, .text-page table[border="1"] th {
  border: 1px solid #e4e8ea;
}

.text-page ul, .text-page ol {
  max-width: 710px;
  line-height: 1.5rem;
}

.text-page li {
  position: relative;
}

.text-page li:before {
  display: inline-block;
}

.text-page li ul, .text-page li ol {
  margin-bottom: 20px;
}

.text-page li li {
  padding-left: 20px;
}

.text-page li li:not(:first-child) {
  margin-top: 0;
}

.text-page ul {
  margin-bottom: 30px;
}

.text-page ul li:before {
  content: "";
  background: #000;
  width: 12px;
  height: 1px;
  vertical-align: middle;
  margin: 0 14px 4px 0;
}

.text-page ul ul li:before {
  content: "-";
  height: auto;
  width: auto;
  background: none;
  margin: 0 5px 5px 0;
}

.text-page ol {
  margin-left: 15px;
  line-height: 1.5rem;
}

.text-page ol li {
  list-style: inherit;
  padding-left: 10px;
}

.text-page dt, .text-page dd {
  display: inline;
  font-style: italic;
}

.text-page blockquote {
  position: relative;
  display: inline;
}

.text-page blockquote:before {
  content: "\201c";
  left: -20px;
  top: -15px;
  position: absolute;
  font-size: 40px;
  color: #323c8d;
}

.text-page blockquote:after {
  content: "\201c";
  right: -20px;
  bottom: -40px;
  position: absolute;
  font-size: 40px;
  color: #323c8d;
}

.text-page p {
  line-height: 1.5rem;
}

.text-page .table-wrap {
  overflow-x: scroll;
}

.text-page .table-wrap table {
  width: auto;
  table-layout: fixed;
}

*[v-cloak] {
  display: none;
}

.mobile-logo {
  width: 100px;
}

.loader {
  display: none !important;
}

.soc .btn-soc {
  display: none;
}

.apostrov {
  transform: translateX(190px);
}

#_3265527665648 > path {
  transform: translateX(600px);
}

.index-video + .main-slider__cont {
  display: none;
}

#breakfast .menu-title {
  position: relative;
}

#osnovnye-blyuda .menu-title {
  position: relative;
}

#osnovnye-blyuda-prodolzhenie .menu-title {
  position: relative;
}

#menyu-napitkov .menu-title {
  position: relative;
}

.mobile-btn {
  display: none;
}

.mobile-menu {
  display: none;
}

body.main {
  overflow: hidden;
}

.index-video {
  position: relative;
  padding-bottom: 54.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}

.index-video video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.fnt0 {
  font-family: 'Gotham Pro';
  font-weight: 300;
}

.index-video:before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: 5;
}

.main-slider__slide {
  height: 100vh !important;
}

.bx-context-toolbar-empty-area {
  min-width: 80px;
}

.loader {
  display: none;
}

.loading .loader {
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99999;
  background: #fff;
}

.loader .el-1 {
  animation: el-one 6s ease forwards 1s;
  stroke-dasharray: 11000;
  stroke-dashoffset: 11000;
}

@Keyframes el-one {
  10% {
    stroke-dashoffset: 3500;
    stroke-dashoffset: 0;
  }
  80% {
    stroke-dashoffset: 3500;
    stroke-dashoffset: 0;
  }
  81% {
    fill-opacity: 1;
  }
  82% {
    stroke-dashoffset: 3500;
    stroke-dashoffset: 0;
  }
}

.loader .el-2 {
  animation: el-two 6s ease forwards 1s;
  stroke-dasharray: 9500;
  stroke-dashoffset: 9500;
}

@Keyframes el-two {
  10% {
    stroke-dashoffset: 5000;
    stroke-dashoffset: 0;
  }
  80% {
    stroke-dashoffset: 5000;
    stroke-dashoffset: 0;
  }
  81% {
    fill-opacity: 1;
  }
  82% {
    stroke-dashoffset: 5000;
    stroke-dashoffset: 0;
  }
}

.loader .el-3 {
  animation: el-three 6s ease forwards 1s;
  stroke-dasharray: 24000;
  stroke-dashoffset: 24000;
}

@Keyframes el-three {
  10% {
    stroke-dashoffset: 8000;
    stroke-dashoffset: 0;
  }
  80% {
    stroke-dashoffset: 8000;
    stroke-dashoffset: 0;
  }
  81% {
    fill-opacity: 1;
  }
  82% {
    stroke-dashoffset: 8000;
    stroke-dashoffset: 0;
  }
}

.loader .el-4 {
  animation: el-four 6s ease forwards 1s;
  stroke-dasharray: 56000;
  stroke-dashoffset: 56000;
}

@Keyframes el-four {
  10% {
    stroke-dashoffset: 17000;
    stroke-dashoffset: 0;
  }
  80% {
    fill-opacity: 1;
  }
  81% {
    stroke-dashoffset: 17000;
    stroke-dashoffset: 0;
  }
}

.loader .circle-1 {
  animation: circle-1 6s ease forwards 1s;
}

@Keyframes circle-1 {
  20% {
    fill-opacity: 1;
  }
  100% {
    fill-opacity: 0;
  }
}

.loader .fil0 {
  animation: fil0 6s ease forwards 1s;
}

@Keyframes fil0 {
  20% {
    fill-opacity: 1;
  }
  100% {
    fill-opacity: 0;
  }
}

.head {
  position: fixed;
  display: flex;
  left: 70px;
  width: 307px;
  height: 100%;
  background: #fff;
  z-index: 999999;
}

.slick-dots {
  position: absolute;
  right: 70px;
  bottom: 107px;
}

.main-slider__slide {
  background-size: cover !important;
  background-position: center !important;
}

.main-nav {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  align-items: center;
}

.main-nav .wrapper {
  padding-top: 75px;
  padding-bottom: 110px;
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
}

.main-nav__link {
  position: relative;
  font-size: 0.875rem;
  text-decoration: none;
  text-transform: uppercase;
  color: #333;
  font-weight: 300;
}

.main-nav__link.active:before {
  content: "";
  position: absolute;
  left: -41px;
  top: 50%;
  width: 21px;
  height: 1px;
  background: #000;
  margin-right: 20px;
  vertical-align: middle;
  transform: scale(1);
  transform-origin: right;
}

.main-nav__list {
  margin-top: auto;
  margin-bottom: auto;
}

.main-nav__item {
  margin-left: 25px;
}

.main-nav__item:not(:last-child) {
  margin-bottom: 35px;
}

.dev {
  padding-left: 25px;
}

.slick-dots {
  position: absolute;
  right: 3.6%;
  bottom: 12%;
  display: flex !important;
}

.slick-dots li {
  height: 14px;
  width: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slick-dots li button {
  display: block;
  height: 10px;
  width: 10px;
  background: #fff;
  border-radius: 50%;
  border: 0;
  font-size: 0px;
  padding: 0;
  margin: 0;
}

.slick-dots li:not(:first-child) {
  margin-left: 31px;
}

.slick-dots .slick-active button {
  transition-duration: .1s;
  height: 14px;
  width: 14px;
}

#content {
  display: flex;
  flex-direction: column;
  width: 100vw;
  min-height: 100vh;
  background-size: cover !important;
}

#content[style^="background"] {
  background: #f7f6f7 !important;
}

.content {
  margin: 82px 0 130px 377px;
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
}

.content .wrapper {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  max-width: 100%;
  padding-right: 0;
  box-sizing: border-box;
  width: 100%;
}

.block-title {
  position: relative;
  font-size: 2.5rem;
  line-height: 3.125rem;
  font-weight: 300;
  color: #000;
  padding: 0 0 20px 0;
  margin: 0 0 45px 0;
}

.block-title:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 80px;
  height: 2px;
  background: #7b5c6b;
}

.soc {
  position: relative;
  align-items: center;
  padding: 20px 0 40px 0;
  margin-top: auto;
}

.soc__item:not(:last-child) {
  margin-right: 25px;
}

.soc .btn-defolt {
  margin: 0;
}

.soc .btn-soc {
  margin-right: 15px;
}

.fancybox-overlay {
  background: rgba(227, 221, 224, 0.71) !important;
}

.contacts {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  padding: 28px 0 0 47px;
}

.contacts .block-title {
  margin-bottom: 68px;
}

.contacts .wrapper {
  flex-direction: row;
}

.contacts-info {
  padding: 40px 0;
  display: flex;
  flex-direction: column;
}

.contacts-photo {
  margin-left: auto;
}

.contacts-photo--top {
  margin-right: 4.375rem;
  margin-left: auto;
}

.contacts-photo--top img {
  display: block;
}

.contacts-photo--bot {
  display: flex;
  margin-top: 3.125rem;
  justify-content: flex-end;
}

.photo--right {
  margin-left: 55px;
}

.photo--right img {
  display: block;
}

.photo--left img {
  display: block;
}

.location {
  margin-bottom: 77px;
  font-size: 1rem;
  font-weight: 300;
}

.phone, .mail {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.phone span, .mail span {
  margin-bottom: 6px;
  font-size: 0.875rem;
  font-weight: 300;
}

.phone a, .mail a {
  color: #000;
  text-decoration: none;
  font-size: 1rem;
  display: inline;
}

.phone .label, .mail .label {
  margin-bottom: 8px;
}

.phone {
  margin-bottom: 27px;
}

.about {
  position: relative;
  margin: 0 0 0 50px;
}

.about__main-foto {
  position: absolute;
  right: 0;
  top: 0;
}

.about__gallery {
  display: flex;
  justify-content: space-between;
}

.about__foto-left {
  margin: 155px 0 0 -81px;
}

.about__foto-right {
  margin: 308px 130px 0 0;
}

.about-title {
  font-size: 2.5rem;
  line-height: 2.8125rem;
  font-weight: 300;
}

.about-sub-title {
  font-size: 0.875rem;
  color: #7b5c6b;
  margin-top: 5px;
}

.about-text {
  margin-top: 70px;
  max-width: 500px;
}

.about .text-page {
  font-size: 0.875rem;
  line-height: 1.5rem;
}

.footer {
  padding: 60px 1.4rem 70px;
  margin-left: 377px;
  box-shadow: inset 0px 70px 131px -75px rgba(132, 101, 115, 0.19);
}

.footer .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer a {
  text-decoration: none;
}

.footer-contacts {
  display: flex;
}

.footer__phone {
  margin-right: 145px;
}

.footer__dev {
  display: flex;
}

.footer__dev .dev {
  display: flex;
  align-items: center;
}

.footer__dev .dev__text {
  margin-right: 20px;
}

.footer__soc {
  margin-left: -230px;
}

.footer__soc .soc {
  padding: 0;
}

.footer__soc .soc:after {
  display: none;
}

.dev__img {
  border: 1px solid #dfd5d7;
  border-radius: 5px;
  padding: 5px;
}

.news {
  padding: 0px 70px 0 50px;
}

.news-title {
  font-size: 2.5rem;
  line-height: 2.8125rem;
  font-weight: 300;
  margin-bottom: 75px;
  color: #333;
}

.news__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 0 -85px -85px;
}

.news__item {
  display: flex;
  flex-direction: column;
  width: calc((100% - 85px * 3) / 3);
  margin: 0 0 65px 85px;
}

.news__img {
  margin-bottom: 50px;
}

.news__title {
  font-size: 1.5625rem;
  line-height: 1.875rem;
  text-decoration: none;
  text-transform: uppercase;
  color: #333;
  margin-bottom: 30px;
}

.news__info {
  position: relative;
  font-size: 1rem;
  line-height: 1.375rem;
  letter-spacing: 0.01em;
  padding-left: 62px;
}

.news__info:before {
  content: "";
  position: absolute;
  height: 1px;
  left: 0;
  width: 33px;
  background: #c4c7cd;
  top: 11px;
}

.main-nav .main-nav__item:first-child {
  display: none;
}

.menu {
  padding: 0 0 0 49px;
}

.menu figure img {
  display: block;
}

.menu-main__title {
  font-size: 2.5rem;
  line-height: 2.8125rem;
  font-weight: 300;
}

.menu-main__sub-title {
  font-size: 0.875rem;
  color: #846573;
  padding-top: 5px;
  margin-bottom: 45px;
}

.menu .text-page .menu__list-title {
  margin-top: 0;
}

.menu .text-page > ul, .menu .text-page ol {
  margin-top: 0;
}

.menu .text-page .menu__list-title + p {
  margin-top: 0;
}

.menu__el {
  position: relative;
  display: flex;
  justify-content: space-between;
  font-size: 0.875rem;
  line-height: 1.5rem;
  overflow: hidden;
  z-index: 11111;
  position: relative;
  margin: 0 -1.4rem !important;
  padding: .7rem 1.4rem;
}

.menu__el:nth-child(odd):before {
  content: " ";
  position: absolute;
  top: 0;
  left: -1.4rem !important;
  width: 120%;
  height: 100%;
  display: block;
  background: #fff;
}

.menu__el-title span {
  position: relative;
  z-index: 1;
  padding-right: 10px;
}

.menu__el-price {
  display: flex;
  margin-left: auto;
}

.menu__el-price span {
  position: relative;
  z-index: 1;
  padding-left: 15px;
  white-space: nowrap;
}

.menu > .wrapper {
  padding: 0 !important;
}

.menu .menu__list, .menu .menu__price {
  padding: 1.4rem;
}

.js__zakuski .menu-title, #osnovnye-blyuda .menu-title, .menu__photo-right .menu-title, .menu__photo-no .menu-title {
  padding: 0 1.4rem 0 1.4rem;
}

.menu__photo-right .info-dop, .menu__photo-no .info-dop {
  padding: 0 1.4rem;
}

#breakfast .text-page {
  margin: 0 -1.4rem;
}

.menu__photo-left .menu__list, .menu__photo-right .menu__list, .menu__photo-no .menu__list {
  padding: 0 1.4rem;
  margin: 0 -1.4rem !important;
}

.menu__photo-no .menu__list-title {
  margin: 0 1.4rem;
}

.menu__photo-no .text-page > *:not(:first-child) {
  margin-top: 0 !important;
}

.menu__photo-no .menu-title {
  padding-bottom: .7rem;
}

.main-block__menu--left .text-page #bx_3218110189_18 > *:not([class*='menu__price']) {
  padding: 0 1.4rem;
}

.block-btn {
  margin: 38px 0 70px 0;
}

.btn-defolt {
  display: inline-block;
  border: 1px solid #7b5c6b;
  padding: 15px 23px;
  text-decoration: none;
  font-size: 1rem;
  margin-top: 10px;
}

.btn-defolt:not(:first-child) {
  margin-left: 24px;
}

.menu-title {
  font-size: 1.4375rem;
  padding-bottom: 20px;
}

.menu__list-title {
  display: inline-block;
  position: relative;
  padding: 9px 17px 9px 17px;
  background: #e4e0e4;
  margin-bottom: 17px;
}

.main-block__menu {
  display: flex;
  justify-content: space-between;
  padding-bottom: 35px;
}

.main-block__menu--left {
  width: 100%;
}

.main-block__menu--right {
  flex: none;
}

.photo-right {
  padding-left: 20px;
  flex: none;
}

.photo-left {
  margin-left: -80px;
  margin-right: 70px;
  padding-right: 20px;
  flex: none;
}

.menu__photo-left {
  display: flex;
  justify-content: flex-start;
  padding-top: 35px;
  padding-bottom: 40px;
}

.menu__photo-right {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 40px;
  padding-bottom: 23px;
}

.info-dop {
  order: 1;
  width: 100%;
  max-width: 700px;
}

.menu__photo-no {
  padding-top: 23px;
}

.menu__photo-no .menu__list-title {
  margin-bottom: 0;
}

.menu__photo-no .menu__list {
  margin: 18px 0 0px -30px;
  max-width: 910px;
  column-count: 2;
  column-gap: 100px;
}

.menu__photo-no .menu__item {
  margin: 35px 0 0px 30px;
}

.menu__photo-no .menu__item:first-child {
  margin-top: 0;
}

.menu__photo-no .menu__item p + ol {
  padding-top: 28px;
}

.menu__photo-no .menu__item ol + p {
  margin-top: 0;
}

.img img {
  height: auto;
}

.main-block__menu--right {
  margin-top: 5px;
}

.main-block__menu--left .block-btn {
  display: none;
}

.info-dop {
  margin-top: 35px;
  line-height: 1.5rem;
}

.menu__list {
  max-width: 750px;
}

.base-page .text-page {
  max-width: 900px;
}

.error {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1 1 auto;
  margin-left: -160px;
}

.error__img {
  margin-bottom: 75px;
}

.error__title {
  color: #7b5c6b;
  font-size: 1.5625rem;
  line-height: 1.625rem;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 25px;
}

.error__text {
  font-size: 1.125rem;
  line-height: 1.625rem;
  text-align: center;
}

.wr-img {
  display: none;
}

@media screen and (max-width: 1600px) {
  .about {
    margin: 0 0 0 50px;
  }
  .about .wrapper {
    padding: 0;
  }
  .about__main-foto {
    max-width: 500px;
  }
  .about-text {
    margin-top: 45px;
    max-width: 645px;
  }
  .about__foto-left {
    margin: 90px 0 0 -50px;
  }
  .about__foto-right {
    margin: 270px 30px 0 0;
  }
  .news {
    padding: 0px 1.4rem 0 0;
  }
  .news-title {
    margin-bottom: 50px;
  }
  .news__list {
    margin: 0 0 -45px -32px;
  }
  .news__item {
    width: calc((100% - 31px * 3) / 3);
    margin: 0 0 45px 31px;
  }
  .news__title {
    font-size: 1.2rem;
    line-height: 1.675rem;
  }
  .news__info {
    padding-left: 35px;
  }
  .news__info:before {
    width: 20px;
  }
  .btn-defolt:nth-child(4n) {
    margin-left: 0;
  }
  .contacts-photo--top {
    max-width: 600px;
  }
  .menu {
    padding: 0 0 0 30px;
  }
  .menu .wrapper {
    padding-left: 0;
  }
  .photo-left {
    margin-right: 30px;
  }
  .menu__photo-left .menu__list {
    margin-right: 3.4rem;
  }
}

@media screen and (max-width: 1500px) {
  .index-video {
    padding-bottom: 56.25%;
  }
  .contacts {
    padding: 0 0 0 25px;
  }
  .menu {
    padding: 0 0 0 1.4rem;
  }
  .photo-right {
    max-width: 500px;
  }
  .footer-contacts {
    flex-direction: column;
  }
  .about-text {
    max-width: 475px;
  }
  .about__foto-right {
    margin: 270px 0 0 75px;
  }
}

@media screen and (max-width: 1400px) {
  .loader svg {
    width: 400px;
  }
  .head {
    left: 0;
    width: 280px;
  }
  .main-nav .wrapper {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .content {
    margin: 82px 0 50px 305px;
  }
  .menu {
    padding: 0 0 0 25px;
  }
  .footer {
    padding: 45px 1.4rem 45px;
    margin-left: 280px;
  }
  .footer__phone {
    margin-right: 35px;
  }
  .footer__soc {
    margin-left: 0px;
  }
  .photo-left {
    margin-left: -55px;
    margin-right: 30px;
  }
  .main-block__menu {
    padding-bottom: 25px;
  }
  .menu__photo-left {
    padding-top: 25px;
    padding-bottom: 25px;
  }
  .contacts {
    padding: 0 0 60px 40px;
  }
  .about {
    margin: 0px 0 0 30px;
  }
  .about__main-foto {
    width: 55%;
  }
  .about__foto-left {
    margin: 90px 0 0 -29px;
  }
  .about__foto-right {
    margin: 235px 30px 0 0;
    width: 47%;
  }
  .about__main-foto {
    width: 100%;
    position: relative;
    margin-top: 20px;
  }
  .about__gallery {
    flex-direction: column;
  }
  .about__foto-left {
    margin: 90px 0 0 -50px;
  }
  .about__foto-right {
    margin: 100px 30px 0 0;
    width: 100%;
  }
  .contacts-photo {
    max-width: 500px;
  }
  .about-text {
    max-width: 900px;
  }
  .about__foto-left {
    margin: 40px 0 0 0;
  }
  .about__foto-right {
    margin: 40px 30px 0 0;
  }
}

@media screen and (max-width: 1366px) and (max-height: 760px) {
  .main-logo {
    display: flex;
    justify-content: center;
  }
  .main-logo svg {
    width: 60%;
    height: 100%;
  }
  .main-nav .wrapper {
    padding: 1.4rem;
  }
  .main-nav__item:not(:last-child) {
    margin-bottom: 20px;
  }
  .main-nav .btn-defolt {
    padding: 9px 20px;
  }
}

@media screen and (max-width: 1300px) {
  .index-video {
    padding-bottom: 65.25%;
  }
  .content {
    margin: 40px 0 40px 250px;
  }
  .head {
    width: 250px;
  }
  .menu__photo-right {
    padding-top: 20px;
  }
  .menu-title {
    padding-bottom: 10px;
  }
  .photo-left {
    margin-right: 10px;
  }
  .menu__photo-no .menu__list {
    margin: 20px 0 0px -30px;
  }
  .menu__photo-no .menu__list-title {
    margin-bottom: 0;
  }
  .footer {
    margin-left: 250px;
  }
}

@media screen and (max-width: 1200px) {
  .main-nav .wrapper {
    padding: 45px 0 45px 0;
  }
  .main-nav__item:not(:last-child) {
    margin-bottom: 25px;
  }
  .head {
    left: 0;
    width: 250px;
  }
  .content {
    margin: 1.4rem 0 50px 249px;
  }
  .menu-main__sub-title {
    margin-bottom: 25px;
  }
  .main-block__menu {
    padding-bottom: 0;
  }
  .menu__list-title {
    margin-bottom: 5px;
  }
  .info-dop {
    margin-top: 0;
  }
  .menu__photo-right {
    padding-top: 0;
  }
  .menu__photo-no .menu__item {
    margin: 35px 0 0px 0px;
  }
  .footer {
    padding: 45px 1rem 45px;
    margin-left: 250px;
  }
  .footer-contacts {
    flex-direction: column;
  }
  .block-btn {
    margin: 30px 0 50px 0;
  }
  .btn-defolt {
    padding: 10px 16px;
  }
  .btn-defolt:not(:first-child) {
    margin-left: 7px;
  }
  .menu {
    padding: 0;
  }
  .photo-left {
    margin-left: -30px;
    margin-right: 0;
  }
  .menu__photo-left {
    flex-direction: column;
  }
  .menu .text-page ol:last-child {
    padding-bottom: 0;
  }
  .menu__photo-left .photo-left {
    margin-bottom: 30px;
  }
  .menu__photo-left .menu-title + div {
    margin-top: 0;
  }
  .menu__photo-right {
    flex-direction: column-reverse;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .photo-right {
    padding-left: 0;
    margin-bottom: 30px;
  }
  .content .wrapper {
    padding: 0 1.4rem;
  }
  .news {
    padding: 0;
  }
  .news-title {
    margin-bottom: 30px;
  }
  .news__list {
    margin: 0 0 -20px -21px;
  }
  .news__item {
    width: calc((100% - 21px * 2) / 2);
    margin: 0 0 35px 21px;
  }
  .news__img {
    margin-bottom: 25px;
  }
  .news__title {
    margin-bottom: 15px;
  }
  .news__title br {
    display: none;
  }
  .news__info {
    padding-left: 0;
  }
  .news__info:before {
    display: none;
  }
  .contacts-photo {
    max-width: 350px;
  }
  .block-title {
    font-size: 2.3rem;
    padding: 0 0 20px 0;
    margin: 0 0 30px 0;
  }
  .main-block__menu {
    flex-direction: column-reverse;
  }
  .photo-right {
    max-width: 100%;
  }
  .photo-left {
    margin-left: 0;
  }
  .menu__photo-no .menu__list {
    margin: 0;
    column-gap: 40px;
  }
  .text-page h1 {
    font-size: 1.8rem;
    line-height: 2rem;
  }
  .menu__photo-left .menu__list {
    margin-right: 0;
  }
  .main-slider__cont {
    display: none;
  }
  .index-video {
    padding-bottom: 68.25%;
  }
}

@media screen and (max-width: 820px) {
  .main-nav__list .btn-defolt {
    display: none;
  }
  .main-slider__cont {
    display: block;
  }
  .main-slider__slide {
    height: calc(100vh - 99px) !important;
  }
  .mobile-btn {
    margin: 0;
  }
  .menu__photo-right .photo-right {
    padding-top: 1.4rem;
  }
  #page-wr {
    overflow-x: hidden;
  }
  .mobile-menu {
    display: flex;
    align-items: center;
    padding: 10px;
    transition: .2s;
    z-index: 99;
  }
  .mobile-logo {
    z-index: 999;
  }
  .main .mobile-logo {
    display: block;
  }
  .main-nav .main-logo {
    display: none;
  }
  .menu__photo-no {
    padding: 0 0 1.4rem;
  }
  .main-nav__item {
    margin-left: 0;
    text-align: center;
  }
  .dev {
    padding-left: 0;
  }
  .mobile-menu.fixed {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background: #fff;
    z-index: 999;
    transition: top .3s;
  }
  .burger {
    position: relative;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: content-box;
    width: 30px;
    height: 30px;
    padding: 15px;
    background: 0 0;
    border: 0;
    user-select: none;
    margin-left: auto;
    cursor: pointer;
    border-radius: 3px;
  }
  .burger:before {
    display: none;
  }
  .burger span {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 3px;
    vertical-align: bottom;
    background: #7b5c6b;
    transition: background .2s .4s;
  }
  .burger span:before {
    border-radius: 0;
    transform: none;
    content: "";
    position: absolute;
    left: 0;
    top: 10px;
    width: 100%;
    height: 3px;
    background: #7b5c6b;
    transform-origin: 50% 50%;
    transition: top .3s .3s,transform .3s;
  }
  .burger span:after {
    content: "";
    position: absolute;
    left: 0;
    top: -10px;
    width: 100%;
    height: 3px;
    background: #7b5c6b;
    transform-origin: 50% 50%;
    transition: top .3s .3s,transform .3s;
  }
  .mobile-menu--open .mobile-menu {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
  }
  .mobile-menu--open footer {
    display: none;
  }
  .mobile-menu--open .content {
    pointer-events: none;
    position: fixed;
  }
  .mobile-menu--open .content:before {
    content: "";
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    z-index: 10;
    pointer-events: none;
  }
  .mobile-menu--open .head {
    transform: translate3d(0, 0, 0);
    z-index: 20;
    opacity: 1;
    pointer-events: all;
  }
  .mobile-menu--open .burger > span {
    background: 0 0;
  }
  .mobile-menu--open .burger > span:before {
    transform: rotate3d(0, 0, 1, 45deg);
    top: 0;
    transition: top .3s,transform .3s .5s;
  }
  .mobile-menu--open .burger > span:after {
    transform: rotate3d(0, 0, 1, -45deg);
    top: 0;
    transition: top .3s,transform .3s .5s;
  }
  .content {
    margin: 0;
    padding: 0;
  }
  .head {
    transform: translate3d(0, 0, 0);
    transition: transform .3s;
    position: fixed;
    top: 0;
    bottom: 0;
    display: flex;
    flex: 1 1 auto;
    width: 100%;
    justify-content: center;
    left: initial;
    opacity: 0;
    transition: opacity .3s, scale .3s;
    pointer-events: none;
  }
  .inner .head {
    position: absolute;
  }
  .inner .main-logo {
    display: none;
  }
  .inner .main-nav__item {
    margin-left: 0;
    text-align: center;
  }
  .inner .main-nav__item a {
    font-weight: 500;
  }
  .main-nav {
    justify-content: center;
    margin: 0 auto;
    width: 100%;
  }
  .main-nav .wrapper {
    display: flex;
    flex: 1 1 auto;
    width: 100%;
    align-items: center;
  }
  .footer {
    padding: 35px 1rem 35px;
    margin-left: 0;
  }
  .inner #content {
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position-x: 92% !important;
  }
  .about {
    margin: 1.4rem 0 1.4rem 30px;
  }
  .news {
    margin-top: 1.4rem;
  }
  .news__item {
    width: calc((100% - 20px * 2) / 2);
    margin: 0 0 35px 20px;
  }
  .news__list {
    margin: 0 0 -20px -20px;
  }
  .menu {
    margin-top: 1.4rem;
  }
  .menu-title {
    padding-bottom: 10px;
  }
  .text-page > *:not(:first-child) {
    margin-top: 15px;
  }
  .text-page ul {
    margin-bottom: 15px;
  }
  .main-block__menu {
    padding-bottom: 15px;
  }
  .menu__photo-left {
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .menu .text-page ul:last-child {
    padding-bottom: 15px;
  }
  .contacts {
    padding: 0;
  }
  .contacts .wrapper {
    flex-direction: column;
  }
  .contacts-photo {
    max-width: 100%;
  }
  .location {
    margin-bottom: 15px;
  }
  .phone {
    margin-bottom: 15px;
  }
  .soc {
    padding: 20px 0 20px 0;
  }
  .contacts-photo--top {
    margin-left: 0;
  }
  .mobile-menu {
    position: relative;
  }
  .mobile-menu:before {
    content: "";
    background: #fff;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
  }
  .mobile-btn.btn-defolt {
    order: 3;
    z-index: 9;
    margin-left: -20px;
  }
  .mobile-btn.btn-defolt a {
    text-decoration: none;
  }
  .burger {
    order: 1;
    margin-left: 0;
  }
  .mobile-logo {
    order: 2;
    margin: 0 auto;
  }
  .main .head {
    transform: translate3d(0, 0, 0);
  }
  .index-video {
    padding-bottom: 115%;
  }
  .main-slider__cont {
    display: block !important;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  .index-video {
    padding-bottom: 73%;
  }
}

@media screen and (max-width: 667px) {
  .main-nav .main-nav__item:first-child {
    display: block;
  }
  .main-nav .main-nav__item:nth-child(2) {
    display: none;
  }
  .index-video {
    display: none;
  }
  .main .mobile-btn.btn-defolt {
    margin-left: auto !important;
    margin-right: 0;
  }
  .main .main-slider__cont {
    display: none !important;
  }
  .contacts .block-title {
    margin-bottom: 30px;
  }
  .fancybox-next span {
    right: 10px !important;
  }
  .fancybox-prev span {
    left: 10px !important;
  }
  .news__item {
    align-items: center;
  }
  .burger {
    margin-left: initial;
  }
  .menu-main__title, .menu-main__sub-title {
    display: none;
  }
  .main-block__menu {
    flex-direction: column-reverse !important;
  }
  .main-block__menu--left {
    display: none;
  }
  .main-block__menu--left .menu__list {
    padding-top: 20px;
  }
  .main-block__menu--right {
    position: relative;
    margin: 0;
    max-height: 230px;
    overflow: hidden;
  }
  .main-block__menu--right:before {
    content: "";
    position: absolute;
    bottom: 10px;
    left: calc(50% - 10px);
    height: 20px;
    width: 20px;
    background: url("../img/ico-down-arrow.svg") no-repeat center;
    animation: arrow-click 1s ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    z-index: 1;
  }
  .main-block__menu--right:after {
    content: "Завтраки";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    font-size: 2.375rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.4rem;
  }
  @Keyframes arrow-click {
    0% {
      transform: translateY(-10px);
    }
    100% {
      transform: translateY(0px);
    }
  }
  .menu__photo-left {
    padding: 0;
  }
  .menu__photo-left .photo-left {
    position: relative;
    max-height: 230px;
    overflow: hidden;
  }
  .menu__photo-left .photo-left:before {
    content: "";
    position: absolute;
    bottom: 10px;
    left: calc(50% - 10px);
    height: 20px;
    width: 20px;
    background: url("../img/ico-down-arrow.svg") no-repeat center;
    animation: arrow-click 1s ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    z-index: 1;
  }
  .menu__photo-left .photo-left:after {
    content: "Основные блюда";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    font-size: 2.375rem;
    display: flex;
    align-items: center;
    text-align: center;
    padding: 1.4rem;
  }
  .menu__photo-left .menu__list {
    display: none;
  }
  .menu__photo-right {
    margin-top: 15px;
    flex-direction: column-reverse !important;
  }
  .menu__photo-right .menu__list {
    display: none;
    order: 2;
  }
  .menu__photo-right .info-dop {
    display: none;
    order: 1;
  }
  .menu__photo-right .photo-right {
    position: relative;
    height: 230px;
    overflow: hidden;
    padding-top: 0;
    order: 3;
  }
  .menu__photo-right .photo-right:before {
    content: "";
    position: absolute;
    bottom: 10px;
    left: calc(50% - 10px);
    height: 20px;
    width: 20px;
    background: url("../img/ico-down-arrow.svg") no-repeat center;
    animation: arrow-click 1s ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    z-index: 1;
  }
  .menu__photo-right .photo-right:after {
    content: "Raw Cook";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    font-size: 2.375rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.4rem;
  }
  .menu__photo-right .photo-right img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  #menyu-napitkov .menu-title, #menyu-napitkov .menu__list, #menyu-napitkov .info-dop {
    display: none;
  }
  #menyu-napitkov .menu-title {
    margin-top: 20px;
  }
  #menyu-napitkov .wr-img {
    position: relative;
    overflow: hidden;
  }
  #menyu-napitkov .wr-img img {
    display: block;
  }
  #menyu-napitkov .wr-img:before {
    content: "";
    position: absolute;
    bottom: 10px;
    left: calc(50% - 10px);
    height: 20px;
    width: 20px;
    background: url("../img/ico-down-arrow.svg") no-repeat center;
    animation: arrow-click 1s ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    z-index: 1;
  }
  #menyu-napitkov .wr-img:after {
    content: "Напитки";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    font-size: 2.375rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.4rem;
  }
  .js__zakuski {
    padding-bottom: 20px;
  }
  .js__zakuski .menu-title {
    margin-top: 20px;
  }
  .js__zakuski .menu__price, .js__zakuski .menu-title {
    display: none;
  }
  .js__zakuski__img {
    display: block;
    position: relative;
    overflow: hidden;
    height: 230px;
  }
  .js__zakuski__img img {
    display: block;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
  }
  .js__zakuski__img:before {
    content: "";
    position: absolute;
    bottom: 10px;
    left: calc(50% - 10px);
    height: 20px;
    width: 20px;
    background: url("../img/ico-down-arrow.svg") no-repeat center;
    animation: arrow-click 1s ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    z-index: 1;
  }
  .js__zakuski__img:after {
    content: "Закуски";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    font-size: 2.375rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.4rem;
  }
  .news {
    margin-top: 1.4rem;
  }
  .news__item {
    width: 100%;
    margin: 0 0 35px 0;
  }
  .news__list {
    margin: 0 0 -20px 0;
  }
  .text-page h1 {
    font-size: 1.25rem;
  }
  .main .index-video, .main .main-slider__cont {
    display: none;
  }
  .main .head {
    width: 100%;
    transform: translate3d(0, 0, 0) !important;
  }
  .main .burger {
    display: none;
  }
  .main .main-nav__item {
    margin-left: 0;
    text-align: center;
  }
  .main .main-nav__item a {
    font-weight: 500;
  }
  .main .dev {
    padding-left: 0;
  }
  .main .main-logo svg {
    width: 100px;
    height: 155px;
  }
  .main-nav .wrapper {
    padding: 20px 0 20px 0;
  }
  .contacts {
    padding: 20px 0 1.4rem 0px;
  }
  .block-title {
    font-size: 2.75rem;
    padding: 0 0 10px 0;
    margin: 0 0 20px 0;
  }
  .location {
    margin-bottom: 15px;
  }
  .phone {
    margin-bottom: 15px;
  }
  .soc {
    padding: 15px 0 15px 0;
  }
  .about {
    margin: 1.4rem 0 1.4rem 0;
  }
  .about-text {
    margin-top: 30px;
  }
  .about__foto-left {
    margin: 27px 0 0 0;
  }
  .about__foto-right {
    margin: 27px 30px 0 0;
  }
  .footer .wrapper {
    flex-direction: column;
    padding: 0;
  }
  .footer-contacts {
    text-align: center;
  }
  .footer__phone {
    margin-right: 0;
    padding-bottom: 10px;
  }
  .footer__soc {
    padding: 10px 0;
  }
  .main-block__menu {
    flex-direction: column;
  }
  .btn-defolt {
    margin-left: 0 !important;
    margin-right: 7px;
  }
  .btn-defolt:not(:first-child) {
    margin-left: 7px;
  }
  .block-btn {
    margin: 30px 0 30px 0;
  }
  .menu .text-page ol, .menu .text-page ul {
    padding-bottom: 30px;
  }
  .photo-left {
    margin-left: 0;
    padding-right: 0;
  }
  .photo-right {
    margin-bottom: 0;
  }
  .menu__photo-left {
    padding-bottom: 0;
  }
  .menu__photo-right {
    padding-top: 0;
  }
  .menu__list.text-page {
    padding-top: 20px;
  }
  .menu__list {
    flex-direction: column;
    margin-left: 0;
  }
  .menu__photo-no .menu__item {
    width: 100%;
    margin-left: 0;
  }
  .menu__photo-no .menu__list {
    margin-left: 0;
  }
  .img img {
    height: auto;
  }
  .base-page {
    margin-bottom: 1.4rem;
  }
  .base-page .wrapper {
    padding: 0;
  }
  .block-title {
    font-size: 1.75rem;
    padding: 0 0 10px 0;
    margin: 0 0 20px 0;
  }
  .contacts-info {
    padding: 0;
  }
  .contacts-photo--top {
    margin-right: 0;
  }
  .contacts-photo--bot {
    flex-direction: column;
    margin-top: 20px;
  }
  .photo--right {
    margin-left: 0;
    margin-top: 20px;
  }
  .photo-right {
    margin: 20px 0;
  }
  .menu__photo-left .menu__list {
    margin-right: 0;
    column-count: 1;
    column-gap: 0;
  }
  .footer__soc .soc {
    margin: 0;
  }
  .footer {
    padding: 30px 1rem 30px;
  }
  .menu__el {
    line-height: 1.0625rem;
    padding-bottom: 7px;
  }
  .menu__el:before {
    bottom: 11px;
  }
  .news-title, .about-title, .menu-main__title {
    margin-bottom: 15px;
    font-size: 2rem;
    line-height: 2.1rem;
  }
  .news__title {
    font-size: 1.2rem;
    line-height: 1.6rem;
    margin-bottom: 10px;
  }
  .dev {
    padding-left: 0;
  }
  .menu__photo-no .menu__list {
    column-count: 1;
  }
  .content {
    margin: 0 0 30px;
  }
  .menu__photo-no .menu__item {
    margin: 15px 0 0px 0;
  }
  .menu__photo-no .menu__list-title {
    margin-bottom: 0;
  }
  .menu-main__title {
    margin-bottom: 0;
  }
  .menu-main__sub-title {
    margin-bottom: 25px;
  }
  .photo-right {
    margin: 0;
  }
  .menu__photo-left .photo-left {
    margin-bottom: 0;
  }
  .news__item a {
    display: flex;
    align-items: center;
  }
  .soc:after {
    display: none;
  }
  .loader .el-1 {
    animation: el-one 6s ease forwards 1s;
    stroke-dasharray: 11000;
    stroke-dashoffset: 11000;
  }
  @Keyframes el-one {
    10% {
      stroke-dashoffset: 3500;
      stroke-dashoffset: 0;
    }
    80% {
      stroke-dashoffset: 3500;
      stroke-dashoffset: 0;
    }
    81% {
      fill-opacity: 1;
    }
    82% {
      stroke-dashoffset: 3500;
      stroke-dashoffset: 0;
    }
    100% {
      fill-opacity: 1;
    }
  }
  .loader .el-2 {
    animation: el-two 6s ease forwards 1s;
    stroke-dasharray: 9500;
    stroke-dashoffset: 9500;
  }
  @Keyframes el-two {
    10% {
      stroke-dashoffset: 5000;
      stroke-dashoffset: 0;
    }
    80% {
      stroke-dashoffset: 5000;
      stroke-dashoffset: 0;
    }
    81% {
      fill-opacity: 1;
    }
    82% {
      stroke-dashoffset: 5000;
      stroke-dashoffset: 0;
    }
    100% {
      fill-opacity: 1;
    }
  }
  .loader .el-3 {
    animation: el-three 6s ease forwards 1s;
    stroke-dasharray: 24000;
    stroke-dashoffset: 24000;
  }
  @Keyframes el-three {
    10% {
      stroke-dashoffset: 8000;
      stroke-dashoffset: 0;
    }
    80% {
      stroke-dashoffset: 8000;
      stroke-dashoffset: 0;
    }
    81% {
      fill-opacity: 1;
    }
    82% {
      stroke-dashoffset: 8000;
      stroke-dashoffset: 0;
    }
    100% {
      fill-opacity: 1;
    }
  }
  .loader .el-4 {
    animation: el-four 6s ease forwards 1s;
    stroke-dasharray: 56000;
    stroke-dashoffset: 56000;
  }
  @Keyframes el-four {
    10% {
      stroke-dashoffset: 17000;
      stroke-dashoffset: 0;
    }
    80% {
      fill-opacity: 1;
    }
    81% {
      stroke-dashoffset: 17000;
      stroke-dashoffset: 0;
    }
    100% {
      fill-opacity: 1;
    }
  }
  .loader .circle-1 {
    animation: circle-1 6s ease forwards 1s;
  }
  @Keyframes circle-1 {
    20% {
      fill-opacity: 1;
    }
    100% {
      fill-opacity: 1;
    }
  }
  .loader .fil0 {
    animation: fil0 6s ease forwards 1s;
  }
  @Keyframes fil0 {
    20% {
      fill-opacity: 1;
    }
    100% {
      fill-opacity: 1;
    }
  }
  .main #content {
    opacity: 0;
    pointer-events: none;
    transition: opacity .3s ease;
  }
  .main .burger {
    display: block;
    margin-left: 0;
    margin-left: -15px;
  }
  .main .mobile-logo {
    display: none;
  }
  .main .mobile-menu {
    padding: 10px 1.4rem;
    transform: translateY(-100%);
    transition: transform 1s ease;
    transition-delay: .5s;
  }
  .main .mobile-menu.visual {
    transform: translateY(0%);
  }
  .loading .loader {
    z-index: 9;
  }
  .mobile-btn.btn-defolt {
    display: block;
    margin: 0;
    order: 3;
    margin-left: -20px !important;
    margin-right: 15px;
  }
  .mobile-btn.btn-defolt a {
    text-decoration: none;
  }
  .mobile-menu--open #content {
    opacity: 1 !important;
    pointer-events: all;
  }
  .burger {
    order: 1;
  }
  .mobile-logo {
    order: 2;
    margin: 0 auto;
  }
  .mobile-logo svg {
    height: 80px;
    width: 80px;
  }
  .main-nav__list .btn-defolt {
    margin: 0;
  }
  .wr-img {
    display: block;
  }
  .main-block__menu {
    order: 1;
  }
  .js__zakuski {
    order: 2;
  }
  #osnovnye-blyuda {
    order: 3;
  }
  #osnovnye-blyuda-prodolzhenie {
    order: 4;
  }
  #menyu-napitkov {
    order: 5;
  }
  .main-block__menu--right, .js__zakuski__img, .photo-left, .wr-img {
    margin: 0 1.4rem;
  }
  .menu__photo-right .photo-right {
    margin: 0 1.4rem;
  }
}

@media screen and (max-width: 370px) {
  .btn-defolt {
    padding: 5px 8px;
  }
}

/*# sourceMappingURL=main.css.map */
