header.head
	.main-nav
		.wrapper
			.main-logo
				img(src="img/logo.png", alt="")
			.main-nav__list
				.main-nav__item
					a.main-nav__link.active(href="#") Меню
				.main-nav__item
					a.main-nav__link(href="#") О нас
				.main-nav__item
					a.main-nav__link(href="#") Фотогалерея
				.main-nav__item
					a.main-nav__link(href="#") Новости
				.main-nav__item
					a.main-nav__link(href="#") Контакты
			.dev
				span &copy; 2017 Pol’za
