html
	head
		meta(charset="utf-8")
		title Новости
		include inc/head.jade
		include inc/css.jade
	body.inner
		#page-wr
			.mobile-menu
			#content(style="background: #f7f6f7;")
				include inc/header.jade
				.content
					section.news
						.wrapper
							h1.news-title Новости

							.news__list
								.news__item 
									a(href="#").news__img
										img(src="img/photos/news-1.jpg", alt="")
									a(href="#").news__title 8 лет успешной работы<br> «Polza»
									.news__info
										p По ежегодной традиции Деловой центр Южного Урала «Челябинск-Сити» присоединится к акции Час Земли, которая 
								.news__item 
									a(href="#").news__img
										img(src="img/photos/news-2.jpg", alt="")
									a(href="#").news__title Поздравляем c<br>праздником
									.news__info
										p По ежегодной традиции Деловой центр Южного Урала «Челябинск-Сити»
								.news__item 
									a(href="#").news__img
										img(src="img/photos/news-3.jpg", alt="")
									a(href="#").news__title 8 лет успешной работы<br> «Polza»
									.news__info
										p По ежегодной традиции Деловой центр Южного Урала «Челябинск-Сити» присоединится к акции Час Земли, которая
								.news__item 
									a(href="#").news__img
										img(src="img/photos/news-1.jpg", alt="")
									a(href="#").news__title 8 лет успешной работы<br> «Polza»
									.news__info
										p По ежегодной традиции Деловой центр Южного Урала «Челябинск-Сити» присоединится к акции Час Земли, которая 
								.news__item 
									a(href="#").news__img
										img(src="img/photos/news-2.jpg", alt="")
									a(href="#").news__title Поздравляем c<br> праздником
									.news__info
										p По ежегодной традиции Деловой центр Южного Урала «Челябинск-Сити»
								.news__item 
									a(href="#").news__img
										img(src="img/photos/news-3.jpg", alt="")
									a(href="#").news__title 8 лет успешной работы<br> «Polza»
									.news__info
										p По ежегодной традиции Деловой центр Южного Урала «Челябинск-Сити» присоединится к акции Час Земли, которая 



						
				include inc/footer.jade
		include inc/scripts.jade